
.headerWrapper {
    display: flex;
    justify-content: center;
}

.calculatorWrapper {
    display: flex;
    justify-content: center;
    max-width: 300px;
    min-width: 300px;
    
    
}
.numberButtonWrapper {
    max-width: 100px;
    min-width: 100px;

}
.displayWrapper {
    display: flex;
    justify-content:center;
    max-width: 100px;
    min-width: 100px;
    flex-direction: column;
    
}