
.container {
    display: flex;
    justify-content: center;
}
.headerWrapper {
    display: flex;
    justify-content: center;
}

.calculatorWrapper {
    display: flex;
    align-items: center;
    max-width: 300px;
    min-width: 300px;
    flex-direction: column;
    /* border:solid red; */
    
    
}
.numberButtonWrapper {
    max-width: 100px;
    min-width: 100px;

}
.displayWrapper {
    display: flex;
    justify-content:center;
    max-width: 100px;
    min-width: 100px;
    height: 30px;
    flex-direction: column;
    /* border: solid red; */
    
}
.buttonWrapper {
    display: flex;
}
.operatorWrapper {
    display: flex;
    max-width: 50px;
    min-width: 50px;
    
}
.operatorBtn {
    height: 20px;
}
